
.list-group {
    width: 345px;
    display: inline-block;
    vertical-align: top;
    margin-right: 25px;
}

.list-group:first-of-type {
    margin-left: 25px;
    
}

.list-group:last-of-type {
    margin-right: 0px;    
}


#propozi .sel-o {
    padding-right: 0px;
}

#propozi .sel-o,
#propozi .sel-o:visited,
#propozi .sel-o:active,
#propozi .sel-o:hover{
    color: #23527c;
    text-decoration: underline;
}


#propozi .sel-v,
#propozi .sel-v:visited,
#propozi .sel-v:active,
#propozi .sel-v:hover{
 color : #4f9fcf;
}



#propozi .sel-v:hover{
    text-decoration : none;    
    
}

#propozi .list-group-item {
    margin-bottom: 0px;
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-bottom: 4px;
    padding: 20px 20px;
}

#propozi .status {
    height: 21px;
    width: 20px;
    float: right;
    position: relative;
    top: 20px;
    cursor: pointer;
    border-radius: 11px;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin-right: 3px;
}

#propozi .statusbar {
    display: none;
    float:right;
    position: relative;
    top: -65px;
}
#propozi .statusbar.pop {
    display: inline-block;
    float: right;
    position: relative;
    z-index: 100;
}

#propozi .isBlank{
    background-color: #913b3b;
}

#propozi .isComplete{
    background-color: #3b6d91;;
}


#propozi .txopacity {
    width: 100%;
    height : 100%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
}

#propozi .txopacity .txo {
    display: inline-block;
    background-color: #fff;
}

#propozi .txo1 {
    height: 100%;
    width: 35px;
    opacity: 0.6;
}
#propozi .txo2 {
    height: 100%;
    width: 30px;
        opacity: 0.6;
}
#propozi .txo3 {
    height: 100%;
    width: 40px;
        opacity: 0.7;
}
#propozi .txo4 {
    height: 100%;
    width: 235px;
    opacity: 0.8;
}

#propozi .edit {
    dispay: none;
}

#propozi .edit input {
    display: none;
}

#propozi .edit.pop {

    display : block;
    top: 0px;
    right: -209px;
    width: 200px;
    height: 150px;
    position: absolute;
    border : 1px solid #ccc;
    border-radius : 2px;
}

#propozi .edit.pop input{
    display: block;
}

#propozi .form-group input{
    margin-bottom: 9px;
}
#propozi .form-group {
    margin-bottom: 0px;
}
#propozi .edit.pop .form-group {
    padding: 10px 13px;

}
    
